@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* fond */
body{
    background-color: black;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
  
}
/* navbar css */
.nav-list{
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
}
.nav-item{
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    background-color: red;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.bar{
    color: white;
}
.contenu{
    display: flex;
    justify-content: center;
    color: white;
    padding: 5%;
    justify-content: space-around;
}
.boxe1{
opacity: 1;
width: 300px;
height: 300px;
border-radius: 5%;
font-size: large;
}
.inter{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.boxe2{
    opacity: 1;
width: 300px;
height: 300px;
border-radius: 7%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.inter2{
    width: 100%;
    height: 100%;
}
.barre{
        height: 7px;
        width: 50%;
        margin: 5% auto;
        background-color: red ;
    }
    .pointf{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: large;
    text-decoration: underline;
     color: white;
    margin:2%;
    
    }
    .gra{
font-size: medium;
    text-decoration: underline;
color: white;
}
.blanc{
    color: white;
}
.contenue2{
    display: flex;
    
color: white;
padding: 5%;
justify-content: space-around;
}

.boite4{
    opacity: 1;
    width: 80%;
    height: 150px;
    border-radius: 7%;
    margin-left: 50px;
 
  }
.boite4 h2{
    margin-bottom: 20px;
}

.boite4 img{
    height: 100px;
}

 .boite5{
    opacity: 1;
    width: 100%;
    height: 150px;
    border-radius: 7%;
  }
  .boite5 img{
    height: 100px;
  }
/* animation insta */
.trait2{
    height: 7px;
    width: 50%;
    margin: 5% auto;
    background-color: #fc5d5d ;   
 }
.contenue {
    animation-duration: 6s;
    animation-name: slidein;
  }
 
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  p {
    animation-duration: 6s;
    animation-name: slidein;
    animation-direction: alternate;
  }
  